

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top:50px;
}

.jumbotron {
	padding-top:50px !important;
}

.jumbotron1 {
  align-items: center;
  background-color : white ;
  padding-top:2vw;
  padding-bottom:2vw;
}

.jumbotron1 h1 {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

.jumbotron1 h2 {
  font-size: 3vw;
  font-weight: 600;
  margin-right: 1.5vw;
  color: black;
}

.jumbotron1 h3 {
  margin: 30px;
  color: black;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  font-size: 25px;
  border-radius: 2px;
  border: 0px;
  color: black;
  text-shadow: none;
  background-color: white;
  margin: 40px;
}

.btn.btn-primary:hover {
  color: white;
  background-color: black;
}

.btn.btn-success {
	margin: 40px;
}

.btn.btn-danger {
	margin: 40px;
}

.btn.btn-info {
	margin: 40px;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.container {
	height: 100%;
}

.container2 {
	margin-top: 50px;
	margin-bottom: 40px;
	background-color: white;
}

.container2 h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 40px;
  color: black;
}

.container2 p {
  color: black;
  font-size: 20px;
  margin: 15px;
}

.row-image {
	height: 50%;
}

footer {
  font-size: 2vw;
  text-align:center;
}

.tab{
     Padding-left:10px;
}

.rtl {
   direction: rtl;
} 

.rtl .dropdown-menu-right {
  text-align: right;
}

.roybutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #346332;
    border-radius: 8px;
    background: #62ba5e;
    background: -webkit-gradient(linear, left top, left bottom, from(#62ba5e), to(#346332));
    background: -moz-linear-gradient(top, #62ba5e, #346332);
    background: linear-gradient(to bottom, #62ba5e, #346332);
    -webkit-box-shadow: #76df71 0px 0px 40px 0px;
    -moz-box-shadow: #76df71 0px 0px 40px 0px;
    box-shadow: #76df71 0px 0px 40px 0px;
    text-shadow: #1f3a1e 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.roybutton:hover,
.roybutton:focus {
    border: 1px solid ##3d743b;
    background: #76df71;
    background: -webkit-gradient(linear, left top, left bottom, from(#76df71), to(#3e773c));
    background: -moz-linear-gradient(top, #76df71, #3e773c);
    background: linear-gradient(to bottom, #76df71, #3e773c);
    color: #ffffff;
    text-decoration: none;
}
.roybutton:active {
    background: #346332;
    background: -webkit-gradient(linear, left top, left bottom, from(#346332), to(#346332));
    background: -moz-linear-gradient(top, #346332, #346332);
    background: linear-gradient(to bottom, #346332, #346332);
}

.navbar-custom {
	background-color:#229922;
    color:#ffffff;
  	border-radius:0;
	padding-top: 1vw;
	padding-bottom: 1vw;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
	font-size: 2.5vw;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: #33aa33;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus, .navbar-custom .navbar-nav .open>a  { 
  background-color: #33aa33;
}

     
/* dropdown */
.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color: #33aa33;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
  font-size: 2vw;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #33aa33;
}
      
.navbar-custom .navbar-brand {
  	color:#eeeeee;
	font-size: 3vw;
}
.navbar-custom .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  	background-color:#33aa33;
}

/* Brightness-zoom Container */
.img-hover-zoom--brightness img {
  transition: transform 1.5s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(90%);
  transform: scale(1.3);
}

.box {
   background: #fff;
   border-radius: 4px;
   max-width: 100%;
   max-height: 100%;
}

.col-lg-2, .col-md-3, .col-xs-6{
    margin-top: 30px !important;
}

.color1 {
	background: #5BD999;
}

.color2 {
	background: #00C1E2;
}

.color3 {
	background: #7658F8;
}

.color4 {
	background: #E9C24D;
}

.color5 {
	background: #E65679;
}

.color6 {
	background: #CB70D7;
}

.myimg {
	 height: 100%;
  width: 100%;
}

.btn-xl {
    font-size: 70px;
    border-radius: 10px;
	height: 50px;
}

.my-activity-button {
	font-size:20px;
	padding-right:10px;
}

.my-activity-button-single {
	font-size:40px;
}

.my-activity-button-text {
	font-size:25px;
}

.rectangle {
border-radius: 10px;
display: inline-block;
border: 1px solid #000;
background-color: white;
padding: 20px 20px 20px 20px;
  justify-content:center;
  align-items: center;
  vertical-align: middle;
  max-width: 70%;
}

.circle-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.invisible {
	visibility: hidden;
}

.activity-content {
		margin-top: 50px;
}

.my-line {
  color: #229922 !important;
}

.row-no-margin {
   margin-left: 0px !important;
   margin-right: 0px !important;
} 

.my-square {
    float:left;
	position: relative;
    width: 18%;
    padding-bottom: 18%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-color: #1E1E1E;
	overflow:hidden;
}

.my-square-content {
    position:absolute;
    height:100%;
    width:100%;
}

.empty-square {
	background-color : white !important;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .my-square {
		width: 30%;
		padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
		margin:1.66%;
	  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .my-square {
		width: 30%;
		padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
		margin:1.66%;
	  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .my-square {
		width: 30%;
		/* maybe width: 23%; */
		padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
		/* maybe padding-bottom: 23%; */
		margin:1.66%;
		/* maybe margin: 1%; */
	  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .my-square {
		width: 18%;
		padding-bottom: 18%; /* = width for a 1:1 aspect ratio */
		margin:1%;
	  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .my-square {
		width: 18%;
		padding-bottom: 18%; /* = width for a 1:1 aspect ratio */
		margin:1%;
	  }
}

@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}
