

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top:50px;
}

.jumbotron {
	padding-top:50px !important;
}

.jumbotron1 {
  align-items: center;
  background-color : white ;
  padding-top:2vw;
  padding-bottom:2vw;
}

.jumbotron1 h1 {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

.jumbotron1 h2 {
  font-size: 3vw;
  font-weight: 600;
  margin-right: 1.5vw;
  color: black;
}

.jumbotron1 h3 {
  margin: 30px;
  color: black;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  font-size: 25px;
  border-radius: 2px;
  border: 0px;
  color: black;
  text-shadow: none;
  background-color: white;
  margin: 40px;
}

.btn.btn-primary:hover {
  color: white;
  background-color: black;
}

.btn.btn-success {
	margin: 40px;
}

.btn.btn-danger {
	margin: 40px;
}

.btn.btn-info {
	margin: 40px;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.container {
	height: 100%;
}

.container2 {
	margin-bottom: 40px;
	background-color: white;
}

.container2 h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 15px;
  color: black;
}

.container2 p {
  color: black;
  font-size: 20px;
  margin: 15px;
}

.row-image {
	height: 50%;
}

footer {
  font-size: 1.5vw;
  text-align:center;
}

.tab{
     Padding-left:10px;
}

.ltr {
   direction: ltr;
} 

.rtl {
   direction: rtl;
} 

.rtl .dropdown-menu-right {
  text-align: right;
}

.roybutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #346332;
    border-radius: 8px;
    background: #62ba5e;
    background: -webkit-gradient(linear, left top, left bottom, from(#62ba5e), to(#346332));
    background: -moz-linear-gradient(top, #62ba5e, #346332);
    background: linear-gradient(to bottom, #62ba5e, #346332);
    -webkit-box-shadow: #76df71 0px 0px 40px 0px;
    -moz-box-shadow: #76df71 0px 0px 40px 0px;
    box-shadow: #76df71 0px 0px 40px 0px;
    text-shadow: #1f3a1e 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.roybutton:hover,
.roybutton:focus {
    border: 1px solid ##3d743b;
    background: #76df71;
    background: -webkit-gradient(linear, left top, left bottom, from(#76df71), to(#3e773c));
    background: -moz-linear-gradient(top, #76df71, #3e773c);
    background: linear-gradient(to bottom, #76df71, #3e773c);
    color: #ffffff;
    text-decoration: none;
}
.roybutton:active {
    background: #346332;
    background: -webkit-gradient(linear, left top, left bottom, from(#346332), to(#346332));
    background: -moz-linear-gradient(top, #346332, #346332);
    background: linear-gradient(to bottom, #346332, #346332);
}

.navbar-custom {
	background-color:#229922;
    color:#ffffff;
  	border-radius:0;
	padding-top: 1vw;
	padding-bottom: 1vw;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
	font-size: 2.5vw;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: #33aa33;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus, .navbar-custom .navbar-nav .open>a  { 
  background-color: #33aa33;
}

     
/* dropdown */
.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color: #33aa33;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
  font-size: 2vw;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #33aa33;
}
      
.navbar-custom .navbar-brand {
	cursor: pointer;
  	color:#eeeeee;
	font-size: 3vw;
}
.navbar-custom .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  	background-color:#33aa33;
}

/* Brightness-zoom Container */
.img-hover-zoom--brightness img {
  transition: transform 1.5s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(90%);
  transform: scale(1.3);
}

.box {
   background: #fff;
   border-radius: 4px;
   max-width: 100%;
   max-height: 100%;
}

.col-lg-2, .col-md-3, .col-xs-6{
    margin-top: 30px !important;
}

.color1 {
	background: #5BD999;
}

.color2 {
	background: #00C1E2;
}

.color3 {
	background: #7658F8;
}

.color4 {
	background: #E9C24D;
}

.color5 {
	background: #E65679;
}

.color6 {
	background: #CB70D7;
}

.myimg {
	 height: 100%;
  width: 100%;
}

.btn-xl {
    font-size: 70px;
    border-radius: 10px;
	height: 50px;
}

.my-activity-button {
	font-size:20px;
	padding-right:10px;
}

.my-activity-button-single {
	font-size:40px;
}

.my-activity-button-text {
	font-size:25px;
}

.rectangle {
border-radius: 10px;
display: inline-block;
border: 1px solid #000;
background-color: white;
padding: 20px 20px 20px 20px;
  justify-content:center;
  align-items: center;
  vertical-align: middle;
  max-width: 70%;
}

.circle-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.invisible {
	visibility: hidden;
}

.activity-content {
		margin-top: 50px;
}

.my-line {
  color: #229922 !important;
}

.row-no-margin {
   margin-left: 0px !important;
   margin-right: 0px !important;
} 

.my-square {
    float:left;
	position: relative;
    width: 18%;
    padding-bottom: 18%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-color: #1E1E1E;
	overflow:hidden;
}

.my-square-content {
    position:absolute;
    height:100%;
    width:100%;
}

.empty-square {
	background-color : white !important;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ideas {
  padding-top:2vw;
}

.select-ctr {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  text-align: center;
}



.select-ctr > div > div {
  padding: 15px 20px;
  position: absolute;
  width: 100%;
  font-size: 1.25rem;
  cursor: pointer;
}

.select-ctr > div > div.input {
  background: white; /* color of options background */
  color: black; /* color of options text */
  border-radius: 2px;
  box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.1);
  font-size: 200%;
}
.select-ctr > div > div.input.active { /* color of option text after clicking on it */
  color: black;
}
.select-ctr > div.input-preview { /* question before clicking on it */
  color: black;
  position: relative;
  transition: .3s all ease;
  font-size: 200%;
  padding: 15px 20px;
}
.select-ctr > div.input-preview.active { /* question after clicking on it */
  color: black;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.left-col {
	min-height: 900px;
}

section.content {
  flex: 1;
}

.headline {
	font-size: 40px;
	margin-top: 10px;
}

.subheadline {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-div {
	background-color: #eee;
	padding-top: 10px;
}

.two-lines { display: none; }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-2-columns {
	display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.right-col {
	order:1;
	position: relative;
}

.left-col {
	order:2;
	position: relative;
	width:100%;
}

.cntr {
	padding: 25px 20px;
	margin:0 auto;
}

.btn-radio {
	cursor: pointer;
	display: inline-block;
	float: left;
	-webkit-user-select: none;
	user-select: none;
}

.btn-radio:not(:first-child) {
	margin-left: 20px;
}

@media screen and (max-width: 480px) {
	.btn-radio {
		display: block;
		float: none;
	}

	.btn-radio:not(:first-child) {
		margin-left: 0;
		margin-top: 15px;
	}
}

.btn-radio svg {
	fill: none;
	vertical-align: middle;
}

.btn-radio svg circle {
	stroke-width: 2;
	stroke: #C8CCD4;
}

.btn-radio svg path {
	stroke: #008FFF;
}

.btn-radio svg path.inner {
	stroke-width: 6;
	stroke-dasharray: 19;
	stroke-dashoffset: 19;
}

.btn-radio svg path.outer {
	stroke-width: 2;
	stroke-dasharray: 57;
	stroke-dashoffset: 57;
}

.btn-radio input {
	display: none;
}

.btn-radio input:checked + svg path {
	transition: all .4s ease;
}

.btn-radio input:checked + svg path.inner {
	stroke-dashoffset: 38;
	transition-delay: .3s;
}

.btn-radio input:checked + svg path.outer {
	stroke-dashoffset: 0;
}

.btn-radio span {
	display: inline-block;
	vertical-align: middle;
}

.level-label {
	font-size: 21px;
}

.level-label:not(:first-child) {
    margin-left: 25px;
}

.question {
	font-size: 30px;
	margin-top: 10px;
}

.options {
	margin-top: 30px;
}


.display-under-600px { display: none !important; }
.display-above-600px { display: inline-block !important; }

.optionsHeadline {
	text-align: right;
	font-size: 25px !important;
	visibility: hidden;
}

ul.countdown {
	color: #229922;
	list-style: none;
	margin: 75px 0;
	padding: 0;
	display: block;
	text-align: center;
}

ul.countdown li {
	display: inline-block;
}

ul.countdown li span {
	font-size: 80px;
	font-weight: 300;
	line-height: 80px;
}

ul.countdown li.seperator {
	font-size: 80px;
	line-height: 70px;
	vertical-align: top;
}

ul.countdown li p {
	color: #229922;
	font-size: 14px;
}

.before-countdown {
	margin-top: -14px;
    margin-bottom: -50px;
}

.after-countdown {
    margin-top: -50px;
}

 .spinner {
	 animation: rotate 2s linear infinite;
	 z-index: 2;
	 position: absolute;
	 top: 25%;
	 left: 50%;
	 margin: -25px 0 0 -25px;
	 width: 50px;
	 height: 50px;
}

 .spinner_groups {
	 top: 65%;
 }

 .spinner .path {
	 stroke: #229922;
	 stroke-linecap: round;
	 animation: dash 1.5s ease-in-out infinite;
}
 @keyframes rotate {
	 100% {
		 transform: rotate(360deg);
	}
}
 @keyframes dash {
	 0% {
		 stroke-dasharray: 1, 150;
		 stroke-dashoffset: 0;
	}
	 50% {
		 stroke-dasharray: 90, 150;
		 stroke-dashoffset: -35;
	}
	 100% {
		 stroke-dasharray: 90, 150;
		 stroke-dashoffset: -124;
	}
}

.two-options {
	margin: 30px !important;
}

.only-activity-name {
	margin-bottom: -10px !important;
}

.details-headline-end {
	margin-bottom: 40px;
}

.details-that-are-the-main-activity {
	padding-top: 20px;
}

.socialMediaSectionIcon {
    margin-top: 20px;
}

.mySocialGroupButtonText {
	font-size:25px;
}

.socialGroupButton {
	height: 89px;
	width: 260px;
}

.facebookButton {
	background-color: #3c6faf !important;
}

.facebookButton:hover, .facebookButton:focus, .facebookButton:active, .facebookButton.active, .open>.dropdown-toggle.facebookButton {
    background-color: #2f5a8f !important;
}

.whatsappButton {
	background-color: #4fc84f !important;
}

.whatsappButton:hover, .whatsappButton:focus, .whatsappButton:active, .whatsappButton.active, .open>.dropdown-toggle.whatsappButton {
    background-color: #3e9b3e !important;
}

.socialGroupsTop {
	margin-top: 30px;
}

.socialGroupsBottom {
	margin-bottom: 50px !important;
}

.activitiesTitleInMeetingsPage {
	font-size: 35px !important;
}

/* ------------------------------------------------Media Queries Section----------------------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
	
	.my-square {
		width: 30%;
		padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
		margin:1.66%;
	  }
	
	.navbar-custom .navbar-brand {
    font-size: 18px;
}

.navbar-custom .navbar-nav > li > a {
    font-size: 15px;
}

.navbar-custom .navbar-nav .dropdown-menu>li>a {
    font-size: 15px;
}

.navbar-nav .open .dropdown-menu>li>a {
    line-height: 25px !important;
}
	
	 .select-ctr {
		height: 0px;
		margin-top: -10px;
		width: 99%
	}		
	
	.select-ctr > div.input-preview {
		font-size: 21px;
	}
	
	.select-ctr > div > div.input {
		font-size: 21px;
	}
	
	.optionsHeadline {
		font-size: 21px !important;
	}

	.marked-headline {
		font-size:25px;
	}

	.marked-form {
		font-size:25px;
		margin-top: 25px;
	}

	.marked-form-field {
		margin-bottom: 20px;
	}

	.marked-error {
		color: red;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
		.headline {
    font-size: 40px;
}
	
	.countdown-message {
		font-size: 28px;
	}
	
	.input-1 {
		margin-top: -30px;
	}
	
	.input-2 {
		margin-top: 45px;
	}
	
	.input-3 {
		margin-top: 120px;
	}
	
	.input-4 {
		margin-top: 195px;
	}
	
	.input-5 {
		margin-top: 270px;
	}
	
	.input-6 {
		margin-top: 345px;
	}
	
	.input-1-after-radio-buttons {		margin-top: -15px;	}
	
	.input-2-after-radio-buttons {		margin-top: 60px;	}
	
	.input-3-after-radio-buttons {		margin-top: 135px;	}
	
	.input-4-after-radio-buttons {		margin-top: 210px;	}
	
	.input-5-after-radio-buttons {		margin-top: 285px;	}
	
	.input-6-after-radio-buttons {		margin-top: 360px;	}
	
	.input-7-after-radio-buttons {		margin-top: 435px;	}
	
	.input-8-after-radio-buttons {		margin-top: 510px;	}
	
	.input-9-after-radio-buttons {		margin-top: 585px;	}
	
	.input-10-after-radio-buttons {		margin-top: 660px;	}
	
	.input-11-after-radio-buttons {		margin-top: 735px;	}
	
	.input-12-after-radio-buttons {		margin-top: 810px;	}
	
	.input-13-after-radio-buttons {		margin-top: 885px;	}
	
	.input-14-after-radio-buttons {		margin-top: 960px;	}
	
	.input-15-after-radio-buttons {		margin-top: 1035px;	}
	
	.input-16-after-radio-buttons {		margin-top: 1110px;	}
	
	.input-17-after-radio-buttons {		margin-top: 1185px;	}
	
	.input-18-after-radio-buttons {		margin-top: 1260px;	}
	
	.input-19-after-radio-buttons {		margin-top: 1335px;	}
	
	.input-20-after-radio-buttons {		margin-top: 1410px;	}
	

.main-div {
	padding-top: 10px;
}

.left-col {
	min-height: 630px;
}

footer {
    font-size: 15px;
	margin-top: 10px;
}

.two-lines { display: inline-block; }
    .one-line { display: none; }
	
	.btn-radio {
    display: block;
    float: none;
}

.cntr {
	padding: 0px 0px 15px 0px;
}

	.option-1-hebrew {
		margin-right: -19px;
	}
	
	.option-2-hebrew {
		margin-right: 0px;
	}
	
	.option-3-hebrew {
		margin-right: 18px;
	}
	
	.option-1-arabic {
		margin-right: -6px;
	}
	
	.option-2-arabic {
		margin-right: 13px;
	}
	
	.option-3-arabic {
		margin-right: 0px;
	}
	
	.display-under-600px { display: inline-block !important; }
    .display-above-600px { display: none !important; }
	
	ul.countdown li span {
		font-size: 50px;
		line-height: 50px;
	}

	ul.countdown li.seperator {
		font-size: 50px;
		line-height: 44px;
	}

	ul.countdown li p {
		font-size: 14px;
	}
	
	.two-options {
		margin: 10px !important;
	}
	
	.jumbotron {
		padding-top: 20px !important;
	}
	
	.activityContent {
		font-size: 22px !important;
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}
	
	.my-activity-button-single {
		font-size: 25px;
	}
	
	.circle-button {
		margin-top: 13px;
	}
	
	.rectangle {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: -20px;
	}
	
	.socialGroupsBottom {
		margin-bottom: 50px !important;
	}

	.activitiesTitleInMeetingsPage {
		font-size: 30px !important;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .my-square {
		width: 30%;
		padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
		margin:1.66%;
	  }
	  
	.navbar-custom .navbar-brand {
    font-size: 30px;
}

.navbar-custom .navbar-nav > li > a {
    font-size: 30px;
}

.navbar-custom .navbar-nav .dropdown-menu>li>a {
    font-size: 30px;
}

.navbar-nav .open .dropdown-menu>li>a {
    line-height: 45px;
}
	
	 .select-ctr {
		height: 0px;
		margin-top: 10px;
		width: 99%
	}		
	
	.select-ctr > div.input-preview {
		font-size: 30px;
	}
	
	.select-ctr > div > div.input {
		font-size: 30px;
	}
	
		.headline {
    font-size: 40px;
}

.marked-headline {
	font-size:30px;
}

.marked-form {
	font-size:25px;
	margin-top: 25px;
}

.marked-form-field {
	margin-bottom: 20px;
}

.marked-error {
	color: red;
	margin-top: 15px;
	margin-bottom: 15px;
}
	
	.countdown-message {
		font-size: 30px;
	}
	
		.input-1 {
		margin-top: -30px;
	}
	
	.input-2 {
		margin-top: 45px;
	}
	
	.input-3 {
		margin-top: 120px;
	}
	
	.input-4 {
		margin-top: 195px;
	}
	
	.input-5 {
		margin-top: 270px;
	}
	
	.input-6 {
		margin-top: 345px;
	}
	
	.input-1-after-radio-buttons {		margin-top: -15px;	}
	
	.input-2-after-radio-buttons {		margin-top: 60px;	}
	
	.input-3-after-radio-buttons {		margin-top: 135px;	}
	
	.input-4-after-radio-buttons {		margin-top: 210px;	}
	
	.input-5-after-radio-buttons {		margin-top: 285px;	}
	
	.input-6-after-radio-buttons {		margin-top: 360px;	}
	
	.input-7-after-radio-buttons {		margin-top: 435px;	}
	
	.input-8-after-radio-buttons {		margin-top: 510px;	}
	
	.input-9-after-radio-buttons {		margin-top: 585px;	}
	
	.input-10-after-radio-buttons {		margin-top: 660px;	}
	
	.input-11-after-radio-buttons {		margin-top: 735px;	}
	
	.input-12-after-radio-buttons {		margin-top: 810px;	}
	
	.input-13-after-radio-buttons {		margin-top: 885px;	}
	
	.input-14-after-radio-buttons {		margin-top: 960px;	}
	
	.input-15-after-radio-buttons {		margin-top: 1035px;	}
	
	.input-16-after-radio-buttons {		margin-top: 1110px;	}
	
	.input-17-after-radio-buttons {		margin-top: 1185px;	}
	
	.input-18-after-radio-buttons {		margin-top: 1260px;	}
	
	.input-19-after-radio-buttons {		margin-top: 1335px;	}
	
	.input-20-after-radio-buttons {		margin-top: 1410px;	}
	

.main-div {
	padding-top: 30px;
}

.left-col {
	min-height: 790px;
}

footer {
    font-size: 30px;
	margin-top: 10px;
}

.two-lines { display: inline-block; }
    .one-line { display: none; }
	
	.cntr {
		display: flex;
		justify-content: center;
	}
	
.socialMediaSectionIcon {
    margin-bottom: -10px;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .my-square {
		width: 30%;
		/* maybe width: 23%; */
		padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
		/* maybe padding-bottom: 23%; */
		margin:1.66%;
		/* maybe margin: 1%; */
	  }
	  
	  .select-ctr {
		height: 0px;
		margin-top: 0px;
		width: 80%
	}		
	
		.navbar-custom .navbar-brand {
    font-size: 30px;
}

.navbar-custom .navbar-nav > li > a {
    font-size: 30px;
}

.navbar-custom .navbar-nav .dropdown-menu>li>a {
    font-size: 30px;
}

.navbar-nav .open .dropdown-menu>li>a {
    line-height: 55px;
}

footer {
    font-size: 30px;
	margin-top: 10px;
}

.two-lines { display: inline-block; }
    .one-line { display: none; }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .my-square {
		width: 18%;
		padding-bottom: 18%; /* = width for a 1:1 aspect ratio */
		margin:1%;
	  }
	  
	   .select-ctr {
		height: 0px;
		margin-top: 10px;
		width: 80%
	}		
	
	.select-ctr > div.input-preview {
		font-size: 30px;
	}
	
	.select-ctr > div > div.input {
		font-size: 30px;
	}
	
		.headline {
    font-size: 40px;
	margin-top: 19px;
}

.countdown-message {
		font-size: 35px;
	}
	
	.input-1 {
		margin-top: -55px;
	}
	
	.input-2 {
		margin-top: 30px;
	}
	
	.input-3 {
		margin-top: 115px;
	}
	
	.input-4 {
		margin-top: 200px;
	}
	
	.input-5 {
		margin-top: 285px;
	}
	
	.input-6 {
		margin-top: 370px;
	}
	
	.input-1-after-radio-buttons {		margin-top: -10px;	}
	
	.input-2-after-radio-buttons {		margin-top: 75px;	}
	
	.input-3-after-radio-buttons {		margin-top: 160px;	}
	
	.input-4-after-radio-buttons {		margin-top: 245px;	}
	
	.input-5-after-radio-buttons {		margin-top: 330px;	}
	
	.input-6-after-radio-buttons {		margin-top: 415px;	}
	
	.input-7-after-radio-buttons {		margin-top: 500px;	}
	
	.input-8-after-radio-buttons {		margin-top: 585px;	}
	
	.input-9-after-radio-buttons {		margin-top: 670px;	}
	
	.input-10-after-radio-buttons {		margin-top: 755px;	}
	
	.input-11-after-radio-buttons {		margin-top: 840px;	}
	
	.input-12-after-radio-buttons {		margin-top: 925px;	}
	
	.input-13-after-radio-buttons {		margin-top: 1010px;	}
	
	.input-14-after-radio-buttons {		margin-top: 1095px;	}
	
	.input-15-after-radio-buttons {		margin-top: 1180px;	}
	
	.input-16-after-radio-buttons {		margin-top: 1265px;	}
	
	.input-17-after-radio-buttons {		margin-top: 1350px;	}
	
	.input-18-after-radio-buttons {		margin-top: 1435px;	}
	
	.input-19-after-radio-buttons {		margin-top: 1520px;	}
	
	.input-20-after-radio-buttons {		margin-top: 1605px;	}

.main-div {
	padding-top: 30px;
}

.left-col {
	min-height: 650px;
}

footer {
    font-size: 25px;
	margin-top: 10px;
}

	.right-col {
		order:0;
	}
	
	.left-col {
		order:0;
		width:75%;
	}
	  
	  .two-lines { display: none; }
    .one-line { display: inline-block; }
	
	.only-activity-name {
		padding-bottom: 25px !important;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .my-square {
		width: 18%;
		padding-bottom: 18%; /* = width for a 1:1 aspect ratio */
		margin:1%;
	  }
	  
	  .two-lines { display: none; }
    .one-line { display: inline-block; }
}



